#rodape {
    background:#222B31 !important;
    border-top:4px solid #EE445F !important;
    margin-top: 0 !important;
   
    .text-muted{
        font:14px Lato !important;
        text-transform:uppercase;
        color:#a3bfc6 !important;
        letter-spacing:2px;
        margin-top:2px;
        
    }
    
    span{
        margin-left:30px !important;
    }

}

